<section id="people">
<!-- Page Content -->
    <div class="content-section-a">
        <div class="container">

            <div class="row text-center">
                <h1>Principal Investigators</h1>
                <br/>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://bmandracchia.github.io/">Biagio Mandracchia, PhD</a></h2>
                    <div class="lead">Ramón y Cajal Research Fellow<br/> Universidad de Valladolid</div>
                    <img class="img-responsive" src="img/people/profileBM.png" alt=""><br/>
                </div>

                <div class="col-lg-5 col-lg-offset-1">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://personas.upct.es/perfil/rosamaria.menchon">Rosa María Menchón-Lara, PhD</a></h2>
                    <div class="lead">Ramón y Cajal Research Fellow<br/> Universidad Politécnica de Cartagena</div>
                    <img class="img-responsive" src="img/people/profileRM.png" alt=""><br/>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Research Team</h2>
                        <div class="lead">
                            <a href="https://lpi.tel.uva.es/marcos">Marcos Martín-Fernández</a>, Universidad de Valladolid<br/>
                            <a href="https://lpi.tel.uva.es/casaseca">Pablo Casaseca-de-la-Higuera</a>, Universidad de Valladolid
                        </div>
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Work Team</h2>
                        <div class="lead">Miguel Á. Martín-Fernández, Universidad de Valladolid<br/>
                            Patricia Amado-Caballero, Universidad de Valladolid<br/>
                            Juliana Manosalva Pérez, Instituto de Salud Carlos III<br/>
                            Clara Martín de las Heras, Universidad Francisco de Vitoria
                        </div>
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Personnel</h2>
                        <div class="lead">Sara Cruz Adrados, Universidad de Valladolid<br/>
                            Inés Varona Peña, Universidad de Valladodid<br/>
                            Jimena Lozano Sánchez, Universidad de Valladolid
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a --> 

</section>
